default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: 1

development:
  <<: *default

production:
  <<: *default
  workers:
    - queues: critical
      threads: 5
      processes: 2
    - queues: default
      threads: 3
      processes: 2
